*{
    margin: 0;
    padding: 0;
    
}
body,html{
    height: 100%;
    background-image: url(img/bg.JPG);
    background-size: cover;
    height: 100%; 
    display: flex;
    width: 100%;
}
.container{
    background-color:white;
    display:flex;
    width: 800px;
    border: 0;
    border-radius: 20px;
    margin: auto;
    justify-content: center;
}
.info{
    width: 50%;
    color:whitesmoke;
    background-image: url(img/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px; 
    text-align: center;
    border-radius: 20px;
}
h3{
    font-size: 30px;
    font-weight:900;
    padding: 10px;
    text-align: center;
    margin-top: 40%;
    font-family: "Copperplate";
}
p{
    margin-bottom: 50%;
    font-size: 20px;
    padding: 15px;
    font-family: "Comic Sans MS", cursive;
    font-weight: 800;
    
}
.form{
    width: 50%;
    margin: 10px;
    padding-top: 7%;
}
h2{
    padding: 10px;
    text-align: center;
    font-size: 40px;
    color: turquoise;
    font-family: "Papyrus",monospace;
}
input{
    display: block;
    padding: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 70%;
    height: 7%;
    border-radius: 10px;
    font-size: 16px;
    border-color: turquoise;
}
h6{
    margin-top: 8px;
    text-align: right;
    margin-right: 12%;
    font-size: 14px;
}
button{
    width: 75%;
    height: 9%;
    border-radius: 10px;
    margin-top: 12px;
    padding: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 700;
    background-color: turquoise;
    border: 0;
    color: white;
    cursor: pointer;
    font-family: "Papyrus",monospace;
}

h5{
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    padding: 3px;
    
}
a{
    text-decoration: none;
    font-size: 16px;
    color: turquoise;
    font-size: 18px;
    font-family: "Papyrus",monospace;
}
